* {
  /* direction: rtl; */
  font-family: "Shabnam FD", sans-serif;
  /* font-family: "Muli", sans-serif; */
}

/* @font-face {} */

@import url("https://v1.fontapi.ir/css/ShabnamFD");
.navbar {
  background-color: rgb(255, 255, 255);
  /* backdrop-filter: blur(100px); */
  -webkit-box-shadow: 0px 4px 23px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 23px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 23px -15px rgba(0, 0, 0, 0.75);
}
header {
  /* background-color: black; */
  height: 111px;
}
nav .container {
  flex-direction: column;
  direction: rtl;
}
.navbar-nav li {
  margin-right: 30px;
  color: white;
}
.dropdown-menu {
  border-radius: 10px;
  text-align: center;
  /* direction: rtl; */
}
#dropdownMenu1 {
  color: black;
}

#test {
  /* background-color: red; */
}
.dropdown-submenu {
  position: relative;
  direction: rtl;
}
.dropdown-submenu > a:after {
  content: "\f0da";
  float: left;
  border: none;
  font-family: "FontAwesome";
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

@media (min-width: 991px) {
  .dropdown-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

/* //////// container-fluid ////////// */
.container-fluid {
  margin: 10px 0px 5px 0px;
}
/* ///carousel/// */

.carousel-item img {
  border-radius: 10px;
}
/* ///carousel/// */

.SideImage img {
  margin: 5px;
  border-radius: 10px;
}
/* //////// container-fluid ////////// */

/* //////// container-fluid CAROUSEL ////////// */
.uk-panel {
  background-color: red;
}

::-webkit-scrollbar {
  /* Webkit */
  width: 0;
  height: 0;
}
.hs {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  -webkit-overflow-scrolling: touch;
  margin: 0 -20px;
}
.hs__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.text {
  margin-bottom: 10px;
  font-size: 30px;
  border-bottom: 1px solid red;
}
.hs__arrows {
  float: right;
  align-self: center;
  background: #212121;
  padding: 5px;
  border-radius: 5px;
}
.hs__arrows a {
  color: red;
}
.hs__arrows .arrow:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  content: "";
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
  background-size: contain;
  -webkit-filter: brightness(5);
  filter: brightness(5);
  width: 18px;
  height: 12px;
  cursor: pointer;
}
.hs__arrows .arrow.disabled:before {
  filter: brightness(2);
}
.hs__arrows .arrow.arrow-prev:before {
  transform: rotate(90deg);
  margin-right: 10px;
}
.hs__arrows .arrow.arrow-next:before {
  transform: rotate(-90deg);
}
.hs__item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(100% / 4 - (10px * 2) - (20px / 4));
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  user-select: none;
}
@media only screen and (max-width: 990px) {
  .hs__item {
    flex-basis: calc(100% / 3 - (10px * 2) - (20px / 3));
  }
}
.hs__item:last-child:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 1px;
  right: calc(10px * 2 * -1);
}
.hs__item:first-child {
  margin-left: calc(10px * 2);
}
.hs__item__description {
  z-index: 1;
  align-self: flex-start;
  margin: 10px 0;
}
.hs__item__subtitle {
  color: w;
  display: block;
}
.hs__item__image__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
.hs__item__image {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
@media only screen and (min-width: 990px) {
  .hs__wrapper {
    overflow: hidden;
  }
}
@media (hover: none) and (pointer: coarse) {
  .hs__wrapper .hs__arrows {
    display: none;
  }
  .hs__wrapper .hs__item {
    flex: 1 0 calc(23% - 10px * 2);
  }
}
@media only screen and (hover: none) and (pointer: coarse) and (max-width: 990px) {
  .hs__wrapper .hs__item {
    flex: 1 0 calc(45% - 10px * 2);
  }
}
/* Base Styling */
/* body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Muli", sans-serif;
  color: white;
  background: white;
  line-height: 1.5;
  letter-spacing: 0.15px;
} */
#container {
  /* max-width: 100%; */
  padding: calc(10px * 2);
  margin: 0 auto;
  /* background: #121212; */
  border-radius: 10px;
  mix-blend-mode: invert;
  position: relative;
}
#container:after {
  content: "";
  width: 100vw;
  height: 100%;
  /* background: #212121; */
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: -1;
}
@media only screen and (min-width: 990px) {
  #container {
    padding: calc(10px * 4) calc(10px * 8);
  }
}

ul {
  padding: 0;
  margin: 0;
}
.card-body {
  direction: rtl;
  text-align: center;
  margin: auto;
  width: 130%;
}

.button {
  display: flex;
  border: 0;
  padding: 15px 25px;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(to bottom, #ff886b 0%, #ff4164 100%);
  box-shadow: 0 10px 30px 0 rgba(255, 136, 107, 0.7);
  transition: 200ms;
  margin: auto;
}
.button:hover {
  background: linear-gradient(to bottom, #ff4164 0%, #ff886b 100%);
}
.button > img {
  width: 31px;
}
.button > span {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 10px;
  color: white;
}

/* //////// container-fluid CAROUSEL ////////// */

/* ////////// Brand /////// */
/* @import url("https://fonts.googleapis.com/css?family=Montserrat"); */

#Brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  --marquee-width: 80vw;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  /* background-color: #111; */
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
}
.marquee:after {
  right: 0;
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 90%;
  /* height: 100%; */
  border: 1px solid black;
  border-radius: 10px;
  /* margin-left: 2px; */
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
}
/* ////////// Brand /////// */

/* ////////// Footer /////// */

.footer {
  background: #152f4f;
  color: white;
  text-align: right;
  direction: rtl;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a {
  color: white;
  transition: color 0.2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180cb;
}
.footer .about-company i {
  font-size: 25px;
}
.footer .about-company a {
  color: white;
  transition: color 0.2s;
}
.footer .about-company a:hover {
  color: #4180cb;
}
.footer .location i {
  font-size: 18px;
}
.mb-0 {
  direction: ltr;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}
/* ////////// Footer /////// */

/* ////////// Brand Page /////// */
.Brand table{
  direction: rtl;
margin-bottom: 5px;
}
.Brand .col-md-4{
  margin-top: 10px;
}
.BrandTitle{
  /* border: 1px solid red; */
  border-radius: 5px;
  margin:10px 0px 10px 0px;
  text-align: right;
  font-size: 20px;
}
/* ////////// Brand Page /////// */

/* ////////// Product Page /////// */

.product-image {
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: linear-gradient(to bottom, #6bffc8 0%, #42c8cb 100%);
  border-radius: 20px 20px 0 0;
  padding: 55px 0;
  width: 100%;
  margin: 10px auto;
}
.product-pic {
  max-width: 180px;
  position: relative;
  left: 0;
  margin: 40px 0;
  filter: drop-shadow(-6px 40px 23px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}
.product-details {
  padding: 40px;
  border-radius: 0 0 20px 20px;
  text-align: center;
  margin-top: 10px;
}
.text-product-details{
  text-align: right;
  direction: rtl;
}
.product-details .title {
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}
.product-details .colorCat {
  text-transform: uppercase;
  font-style: italic;
  color: #bbb;
  font-weight: 700;
  font-size: 14px;
}
.product-details .price {
  font-weight: 700;
  margin-top: 10px;
  font-size: 18px;
  direction: rtl;
}
.product-details .price .current {
  color: #fe6168;
  margin-left: 6px;
}
.product-details .before {
  text-decoration: line-through;
}
.product-details header {
  margin-bottom: 50px;
  position: relative;
}
.product-details article > h5 {
  margin: 0;
}
.product-details article > p {
  color: #bbb;
  margin: 0.5em 0;
  font-size: 14px;
  line-height: 1.6;
}
.product-details .controls {
  margin: 3em 0;
}
.product-details .controls > div {
  flex: 1;
}
.product-details .controls .option {
  margin-top: 12px;
  display: inline-block;
  position: relative;
}
.product-details .controls .option:hover {
  color: #444;
}
.product-details .controls .option::before {
  content: '';
  position: absolute;
  border-width: 2px 2px 0 0;
  border-style: solid;
  top: 0;
  bottom: 0;
  height: 5px;
  width: 5px;
  right: -18px;
  margin: auto;
  transform: rotate(135deg);
}
.product-details .controls > div + div {
  margin-top: 20px;
  flex: none;
}
.product-details .controls ul {
  display: flex;
  margin: 15px 5px;
}
.product-details .color li + li {
  margin-left: 15px;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom > button {
  display: flex;
  border: 0;
  padding: 15px 25px;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(to bottom, #ff886b 0%, #ff4164 100%);
  box-shadow: 0 10px 30px 0 rgba(255, 136, 107, 0.7);
  transition: 200ms;
}
.bottom > button:hover {
  background: linear-gradient(to bottom, #ff4164 0%, #ff886b 100%);
}
.bottom > button > img {
  width: 31px;
}
.bottom > button > span {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 10px;
  color: white;
}
.bottom > a img {
  width: 24px;
  opacity: 0.8;
}
.bottom > a:hover img {
  opacity: 1;
}
@media (min-width: 37.5em) {
  .product-details .rate {
    position: absolute;
    top: 12px;
    right: 10px;
    margin-top: 0;
 }
  .product-details .controls > div.qty {
    width: 60px;
 }
  .product-details .controls > div + div {
    border-left: 2px solid rgba(187, 187, 187, .5);
    padding-left: 25px;
    padding-right: 25px;
    width: 100px;
    margin-top: 0;
 }
  .product-details .controls {
    display: flex;
 }

}
@media (min-width: 56.25em) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin: auto;
 }
  .product-image {
    border-radius: 20px 0 0 20px;
    max-width: 400px;
 }

  .product-pic {
    left: -40px;
    max-width: 330px;
 }
  .product-details {
    width: 100%;
    border-radius: 0 20px 20px 0;
 }
/* ////////// Product Page /////// */
